<section class="flex items-center justify-center min-h-screen"> 
 
<div class="container  max-w-3xl">
  <div class=" text-4xl mb-5">
   <h1> Welcome to Register</h1>
</div>
<div class=" bg-white rounded-lg shadow-lg border border-gray-300  p-4 ">




    <form  [formGroup]="registerForm" (ngSubmit)="submitTheForm()" class="grid gap-y-2.5" >
<div class="relative mt-2.5 ">
    <input type="text" id="fullName" formControlName="name" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border-1 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer" placeholder=" " />
    <label for="fullName" class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">full Name</label>
</div>
 @if (registerForm.get("name")?.invalid &&registerForm.get("name")?.touched) {
        	     <div
        class="flex p-2 mb-2 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
        role="alert"
      >
        <span class="sr-only ">Danger</span>
        <div>
          <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
           
            @if (registerForm.get("name")?.hasError("required")) {
               <li class="ms-4" >Full name is required.</li>
            }
            @else if(registerForm.get("name")?.hasError("minlength"))
           {
             <li class="ms-4">Name must be at least 3 characters</li>
           }
		
          </ul>
        </div>
      </div>
      }

<div class="relative ">
    <input type="text" id="userName" formControlName="username" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border-1 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer" placeholder=" " />
    <label for="userName" class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">user Name</label>
  

</div>
 

      
<div class="relative ">
    <input type="text" id="email" formControlName="email" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border-1 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer" placeholder=" " />
    <label for="email" class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">email</label>

</div>
     @if (registerForm.get("email")?.invalid &&registerForm.get("email")?.touched) {
        	     <div
        class="flex p-2 mb-2 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
        role="alert"
      >
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
           
            @if (registerForm.get("email")?.hasError("required")) {
               <li class="ms-4">Full email is required.</li>
            }
            @else if(registerForm.get("email")?.hasError("email"))
           {
            <li class="ms-4">Please enter a valid email address.</li>
           }
		
          </ul>
        </div>
      </div>
      }




<div class="relative ">
    <select  id="gender" formControlName="gender" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border-1 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer" placeholder=" " >
        <option selected disabled hidden value="">Select Gender</option>
        <option value="male">Male</option>
         <option value="female">Female</option>
    </select>
    <label for="gender" class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">user Name</label>
</div>

@if (registerForm.get("gender")?.invalid && registerForm.get("gender")?.touched) {
<div
class="flex p-2 mb-2 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
role="alert"
>
<div>
<ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">

<li class="ms-4">Please select gender.</li>

</ul>
</div>
</div>
}
    
<div class="relative ">
    <input type="date"  formControlName="dateOfBirth" id="date" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border-1 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer" placeholder=" " />
    <label for="date" class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Date</label>
</div>

@if (registerForm.get("date")?.invalid && registerForm.get("date")?.touched) {
<div
class="flex p-2 mb-2 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
role="alert"
>
<div>
<ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">

<li class="ms-4">Date is required.</li>

</ul>
</div>
</div>
}




<div class="relative ">
    <input #paas type="password" formControlName="password" id="password" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border-1 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer" placeholder=" " />
    <label for="password" class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Password</label>
   <span  (click)="isShow(paas)" class=" text-sec absolute -translate-y-1/2  cursor-pointer  top-1/2 right-3 " > 
 <i  class="fas" [class]=" show ?'fa-eye' :'fa-eye-slash'"></i>
        </span>
  </div>
  @if (registerForm.get("password")?.invalid &&registerForm.get("password")?.touched) {
        	     <div
        class="flex p-2 mb-2 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
        role="alert"
      >
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
           
            @if (registerForm.get("password")?.hasError("required")) {
               <li class="ms-4"> password Is Required.</li>
            }
            @else if(registerForm.get("password")?.hasError("pattern"))
           {
          <li class="ms-4">Must contain at least 8 chars, 1 uppercase, 1 lowercase, 1 number, and 1 special</li>
           }
		
          </ul>
        </div>
      </div>
      }




<div class="relative ">
    <input  #paas2 type="password" formControlName="rePassword" id="repassword" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border-1 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer" placeholder=" " />
    <label for="repassword" class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Confirm Password</label>
   <span (click)="isShow2(paas2)"  class=" text-sec absolute  -translate-y-1/2  cursor-pointer  top-1/2 right-3 " > 
 <i class="fas" [class]=" show2 ?'fa-eye' :'fa-eye-slash'"></i>
        </span>
  </div>



    @if (registerForm.get("rePassword")?.invalid &&registerForm.get("rePassword")?.touched) {
        	     <div
        class="flex p-2 mb-2 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
        role="alert"
      >
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
           
            @if (registerForm.get("rePassword")?.hasError("required")) {
               <li class="ms-4"> password Is Required.</li>
            }
            @else if(registerForm.get("rePassword")?.hasError("mismatch"))
           {
          <li class="ms-4">Passwords do not match.</li>
           }
		
          </ul>
        </div>
      </div>
      }

<button type="submit" class="bg-maincolor py-2 rounded text-white cursor-pointer">Create New Account 
  @if (loading) {
        <i class="fas fa-spinner fa-spin"></i>
      }
</button>

 </form>

   <div class="text-center text-sm text-sec mt-4">
        لديك حساب بالفعل؟
        <a class="text-maincolor font-medium" routerLink="/login">
          تسجيل الدخول
        </a>
      </div>
</div>

 </div>
</section>